In [39]:
#Instantiate SparkSession
from pyspark.sql import SparkSession
spark=SparkSession \
			.builder \
			.appName('Predicting the grape variety from wine characteristics') \
			.getOrCreate()

In [40]:
spark

In [41]:
# https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data
# gsutil cp adult.data gs://dexdebra-123/datasets
# Use sparkSession to read csv file			
rawData=spark.read \
           .format('csv') \
           .option('header','false') \
           .option('ignoreLeadingWhiteSpace','true') \
           .load('gs://dexdebra-123/datasets/adult.data')

In [42]:
rawData

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string, _c11: string, _c12: string, _c13: string, _c14: string]

In [43]:
rawData.toPandas().head()

,_c0,_c1,_c2,_c3,_c4,_c5,_c6,_c7,_c8,_c9,_c10,_c11,_c12,_c13,_c14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [44]:
#Assign meaningful Headers
dataSet=rawData.toDF("Age",
	"WorkClass",
	"FnlWgt",
	"Education",
	"EducationNum",
	"MaritalStatus",
	"Occupation",
	"Relationship",
	"Race",
	"Gender",
	"CapitalGain",
	"CapitalLoss",
	"HoursPerWeek",
	"NativeCountry",
	"Label"
					)

In [45]:
dataSet.toPandas().head()

,Age,WorkClass,FnlWgt,Education,EducationNum,MaritalStatus,Occupation,Relationship,Race,Gender,CapitalGain,CapitalLoss,HoursPerWeek,NativeCountry,Label
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [46]:
# Drop the FnlWgt Column as not relevant
dataSet=dataSet.drop('FnlWgt')

In [47]:
# Replace All '?' value in all cells with specific value('None') in dataFrame
print('Count Before: ' , dataSet.count())
dataSet=dataSet.replace('?',None)
dataSet=dataSet.dropna(how='any')
print('Count After: ' , dataSet.count())

('Count Before: ', 32561)
('Count After: ', 30162)

In [48]:
dataSet.toPandas()

,Age,WorkClass,Education,EducationNum,MaritalStatus,Occupation,Relationship,Race,Gender,CapitalGain,CapitalLoss,HoursPerWeek,NativeCountry,Label
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,34,Private,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
15,25,Self-emp-not-inc,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
16,32,Private,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
17,38,Private,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
18,43,Self-emp-not-inc,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
19,40,Private,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
20,54,Private,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
21,35,Federal-gov,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
22,43,Private,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
23,59,Private,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
24,56,Local-gov,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
25,19,Private,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
26,39,Private,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
27,49,Private,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
28,23,Local-gov,Assoc-acdm,12,Never-married,Protective-serv,Not-in-family,White,Male,0,0,52,United-States,<=50K
29,20,Private,Some-college,10,Never-married,Sales,Own-child,Black,Male,0,0,44,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30132,32,Private,10th,6,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,<=50K
30133,22,Private,Some-college,10,Never-married,Adm-clerical,Own-child,White,Male,0,0,40,United-States,<=50K
30134,31,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Wife,White,Female,0,0,40,United-States,<=50K
30135,29,Private,HS-grad,9,Separated,Sales,Unmarried,White,Female,0,0,35,United-States,<=50K
30136,34,Private,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
30137,54,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
30138,37,Private,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
30139,22,Private,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
30140,34,Private,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
30141,30,Private,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
30142,38,Private,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
30143,45,State-gov,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
30144,45,Local-gov,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
30145,31,Private,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
30146,39,Local-gov,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
30147,37,Private,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
30148,43,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
30149,65,Self-emp-not-inc,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
30150,43,State-gov,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
30151,43,Self-emp-not-inc,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
30152,32,Private,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
30153,43,Private,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
30154,32,Private,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
30155,53,Private,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
30156,22,Private,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
30157,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
30158,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
30159,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
30160,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
30161,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [49]:
# Describe structure of dataSet
dataSet.describe()

DataFrame[summary: string, Age: string, WorkClass: string, Education: string, EducationNum: string, MaritalStatus: string, Occupation: string, Relationship: string, Race: string, Gender: string, CapitalGain: string, CapitalLoss: string, HoursPerWeek: string, NativeCountry: string, Label: string]

In [51]:
# Some of the columns Age,EducationNum,HoursPerWeek,CapitalGain,CapitalLoss ould contain numeric values
# But these numeric values are present as strings in this dataframe
# We can convert these values to numeric by using cast operation

from pyspark.sql.types  import FloatType
from pyspark.sql.functions import col

dataSet=dataSet.withColumn('Age', dataSet['Age'].cast(FloatType()))

dataSet=dataSet.withColumn('EducationNum', dataSet['EducationNum'].cast(FloatType()))

dataSet=dataSet.withColumn('CapitalGain', dataSet['CapitalGain'].cast(FloatType()))

dataSet=dataSet.withColumn('CapitalLoss', dataSet['CapitalLoss'].cast(FloatType()))

dataSet=dataSet.withColumn('HoursPerWeek', dataSet['HoursPerWeek'].cast(FloatType()))

In [52]:
dataSet.toPandas().head()

,Age,WorkClass,Education,EducationNum,MaritalStatus,Occupation,Relationship,Race,Gender,CapitalGain,CapitalLoss,HoursPerWeek,NativeCountry,Label
0,39.0,State-gov,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,50.0,Self-emp-not-inc,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
2,38.0,Private,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
3,53.0,Private,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
4,28.0,Private,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K

In [53]:
dataSet.toPandas()

,Age,WorkClass,Education,EducationNum,MaritalStatus,Occupation,Relationship,Race,Gender,CapitalGain,CapitalLoss,HoursPerWeek,NativeCountry,Label
0,39.0,State-gov,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,50.0,Self-emp-not-inc,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
2,38.0,Private,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
3,53.0,Private,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
4,28.0,Private,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K
5,37.0,Private,Masters,14.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,0.0,0.0,40.0,United-States,<=50K
6,49.0,Private,9th,5.0,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0.0,0.0,16.0,Jamaica,<=50K
7,52.0,Self-emp-not-inc,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,45.0,United-States,>50K
8,31.0,Private,Masters,14.0,Never-married,Prof-specialty,Not-in-family,White,Female,14084.0,0.0,50.0,United-States,>50K
9,42.0,Private,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178.0,0.0,40.0,United-States,>50K
10,37.0,Private,Some-college,10.0,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0.0,0.0,80.0,United-States,>50K
11,30.0,State-gov,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0.0,0.0,40.0,India,>50K
12,23.0,Private,Bachelors,13.0,Never-married,Adm-clerical,Own-child,White,Female,0.0,0.0,30.0,United-States,<=50K
13,32.0,Private,Assoc-acdm,12.0,Never-married,Sales,Not-in-family,Black,Male,0.0,0.0,50.0,United-States,<=50K
14,34.0,Private,7th-8th,4.0,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0.0,0.0,45.0,Mexico,<=50K
15,25.0,Self-emp-not-inc,HS-grad,9.0,Never-married,Farming-fishing,Own-child,White,Male,0.0,0.0,35.0,United-States,<=50K
16,32.0,Private,HS-grad,9.0,Never-married,Machine-op-inspct,Unmarried,White,Male,0.0,0.0,40.0,United-States,<=50K
17,38.0,Private,11th,7.0,Married-civ-spouse,Sales,Husband,White,Male,0.0,0.0,50.0,United-States,<=50K
18,43.0,Self-emp-not-inc,Masters,14.0,Divorced,Exec-managerial,Unmarried,White,Female,0.0,0.0,45.0,United-States,>50K
19,40.0,Private,Doctorate,16.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,0.0,0.0,60.0,United-States,>50K
20,54.0,Private,HS-grad,9.0,Separated,Other-service,Unmarried,Black,Female,0.0,0.0,20.0,United-States,<=50K
21,35.0,Federal-gov,9th,5.0,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
22,43.0,Private,11th,7.0,Married-civ-spouse,Transport-moving,Husband,White,Male,0.0,2042.0,40.0,United-States,<=50K
23,59.0,Private,HS-grad,9.0,Divorced,Tech-support,Unmarried,White,Female,0.0,0.0,40.0,United-States,<=50K
24,56.0,Local-gov,Bachelors,13.0,Married-civ-spouse,Tech-support,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
25,19.0,Private,HS-grad,9.0,Never-married,Craft-repair,Own-child,White,Male,0.0,0.0,40.0,United-States,<=50K
26,39.0,Private,HS-grad,9.0,Divorced,Exec-managerial,Not-in-family,White,Male,0.0,0.0,80.0,United-States,<=50K
27,49.0,Private,HS-grad,9.0,Married-civ-spouse,Craft-repair,Husband,White,Male,0.0,0.0,40.0,United-States,<=50K
28,23.0,Local-gov,Assoc-acdm,12.0,Never-married,Protective-serv,Not-in-family,White,Male,0.0,0.0,52.0,United-States,<=50K
29,20.0,Private,Some-college,10.0,Never-married,Sales,Own-child,Black,Male,0.0,0.0,44.0,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30132,32.0,Private,10th,6.0,Married-civ-spouse,Transport-moving,Husband,White,Male,0.0,0.0,40.0,United-States,<=50K
30133,22.0,Private,Some-college,10.0,Never-married,Adm-clerical,Own-child,White,Male,0.0,0.0,40.0,United-States,<=50K
30134,31.0,Private,HS-grad,9.0,Married-civ-spouse,Machine-op-inspct,Wife,White,Female,0.0,0.0,40.0,United-States,<=50K
30135,29.0,Private,HS-grad,9.0,Separated,Sales,Unmarried,White,Female,0.0,0.0,35.0,United-States,<=50K
30136,34.0,Private,Doctorate,16.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,0.0,0.0,60.0,United-States,>50K
30137,54.0,Private,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0.0,0.0,50.0,Japan,>50K
30138,37.0,Private,Some-college,10.0,Divorced,Adm-clerical,Unmarried,White,Female,0.0,0.0,39.0,United-States,<=50K
30139,22.0,Private,12th,8.0,Never-married,Protective-serv,Own-child,Black,Male,0.0,0.0,35.0,United-States,<=50K
30140,34.0,Private,Bachelors,13.0,Never-married,Exec-managerial,Not-in-family,White,Female,0.0,0.0,55.0,United-States,>50K
30141,30.0,Private,HS-grad,9.0,Never-married,Craft-repair,Not-in-family,Black,Male,0.0,0.0,46.0,United-States,<=50K
30142,38.0,Private,Bachelors,13.0,Divorced,Prof-specialty,Unmarried,Black,Female,15020.0,0.0,45.0,United-States,>50K
30143,45.0,State-gov,HS-grad,9.0,Separated,Adm-clerical,Own-child,White,Female,0.0,0.0,40.0,United-States,<=50K
30144,45.0,Local-gov,Assoc-acdm,12.0,Divorced,Prof-specialty,Unmarried,White,Female,0.0,0.0,48.0,United-States,<=50K
30145,31.0,Private,Masters,14.0,Divorced,Other-service,Not-in-family,Other,Female,0.0,0.0,30.0,United-States,<=50K
30146,39.0,Local-gov,Assoc-acdm,12.0,Married-civ-spouse,Adm-clerical,Wife,White,Female,0.0,0.0,20.0,United-States,>50K
30147,37.0,Private,Assoc-acdm,12.0,Divorced,Tech-support,Not-in-family,White,Female,0.0,0.0,40.0,United-States,<=50K
30148,43.0,Private,HS-grad,9.0,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0.0,0.0,40.0,Mexico,<=50K
30149,65.0,Self-emp-not-inc,Prof-school,15.0,Never-married,Prof-specialty,Not-in-family,White,Male,1086.0,0.0,60.0,United-States,<=50K
30150,43.0,State-gov,Some-college,10.0,Divorced,Adm-clerical,Other-relative,White,Female,0.0,0.0,40.0,United-States,<=50K
30151,43.0,Self-emp-not-inc,Some-college,10.0,Married-civ-spouse,Craft-repair,Husband,White,Male,0.0,0.0,50.0,United-States,<=50K
30152,32.0,Private,10th,6.0,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0.0,0.0,40.0,United-States,<=50K
30153,43.0,Private,Assoc-voc,11.0,Married-civ-spouse,Sales,Husband,White,Male,0.0,0.0,45.0,United-States,<=50K
30154,32.0,Private,Masters,14.0,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0.0,0.0,11.0,Taiwan,<=50K
30155,53.0,Private,Masters,14.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
30156,22.0,Private,Some-college,10.0,Never-married,Protective-serv,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
30157,27.0,Private,Assoc-acdm,12.0,Married-civ-spouse,Tech-support,Wife,White,Female,0.0,0.0,38.0,United-States,<=50K
30158,40.0,Private,HS-grad,9.0,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
30159,58.0,Private,HS-grad,9.0,Widowed,Adm-clerical,Unmarried,White,Female,0.0,0.0,40.0,United-States,<=50K
30160,22.0,Private,HS-grad,9.0,Never-married,Adm-clerical,Own-child,White,Male,0.0,0.0,20.0,United-States,<=50K
30161,52.0,Self-emp-inc,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024.0,0.0,40.0,United-States,>50K

In [54]:
dataSet

DataFrame[Age: float, WorkClass: string, Education: string, EducationNum: float, MaritalStatus: string, Occupation: string, Relationship: string, Race: string, Gender: string, CapitalGain: float, CapitalLoss: float, HoursPerWeek: float, NativeCountry: string, Label: string]

In [55]:
# Create a List of Categorical Features which we want to convert to numerical form
categoricalFeatures= [
		'WorkClass',
		'Education',
		'MaritalStatus',
		'Occupation',
		'Relationship',
		'Race',
		'Gender',
		'NativeCountry'
		]

In [56]:
# Create StringIndexer for CategoricalFeatures using python list comprehension
from pyspark.ml.feature import StringIndexer

indexers=[ StringIndexer(inputCol=column,outputCol=column + '_index',handleInvalid='keep') for column in categoricalFeatures]

In [57]:
# Convert Numerical form of categories to One-hot-encoding using python list comprehension
from pyspark.ml.feature import OneHotEncoder
encoders=[ OneHotEncoder ( 
				inputCol=column + '_index',
				outputCol=column + '_encoded') for column  in categoricalFeatures]

In [58]:
# Split the data into 80% for trainingData and 20% for testData
(trainingData,testData)=dataSet.randomSplit([0.8,0.2])

In [59]:
# Add indexer for label To Convert Categorical Strin gRepresentation of Label to numeric form
labelIndexer= [ StringIndexer( inputCol='Label' , outputCol='Label_index')]

In [60]:
# Create a pyspark ml pipeline 
from pyspark.ml import Pipeline

# Setup the various stages of pipeline
pipeline=Pipeline(stages=indexers + encoders + labelIndexer )

# The pipeline will
# Perform all transformations on the input data and then
# Assemble the features into Dense Vector form and then
# Apply RandomForest Classifier to it.

In [61]:
pipeline

Pipeline_42369adc6c7d8b172538

In [62]:
# Pass the trainingData thru the pipeline by calling first the fit() method and then the transform() method both on the trainingData
transformedDF = pipeline.fit(trainingData).transform(trainingData)

In [63]:
transformedDF.toPandas().head()

# All Categorical Features are represented in One-Hot-Encoded form
# And Label is also numeric

,Age,WorkClass,Education,EducationNum,MaritalStatus,Occupation,Relationship,Race,Gender,CapitalGain,...,NativeCountry_index,WorkClass_encoded,Education_encoded,MaritalStatus_encoded,Occupation_encoded,Relationship_encoded,Race_encoded,Gender_encoded,NativeCountry_encoded,Label_index
0,17.0,Federal-gov,11th,7.0,Never-married,Adm-clerical,Not-in-family,Black,Female,0.0,...,0.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0, 0.0, 0.0)","(0.0, 1.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0
1,17.0,Local-gov,11th,7.0,Never-married,Adm-clerical,Own-child,White,Female,0.0,...,0.0,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 1.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0
2,17.0,Local-gov,11th,7.0,Never-married,Other-service,Own-child,White,Female,0.0,...,0.0,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 1.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0
3,17.0,Local-gov,11th,7.0,Never-married,Prof-specialty,Own-child,White,Female,0.0,...,4.0,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 1.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0)","(0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...",0.0
4,17.0,Local-gov,11th,7.0,Never-married,Prof-specialty,Own-child,White,Female,0.0,...,0.0,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 1.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0

In [64]:
# Setup the features that we want to use train our ML Model

# We use data in numerical columns as it is
# For CategoricalVariables we will use their one-hot-encoder notation

requiredFeatures= [
        'Age',
        'EducationNum',
        'CapitalGain',
        'CapitalLoss',
        'HoursPerWeek',
        'WorkClass_encoded',
        'Education_encoded',
        'MaritalStatus_encoded',
        'Occupation_encoded',
        'Relationship_encoded',
        'Race_encoded',
        'Gender_encoded',
        'NativeCountry_encoded',
]

In [65]:
requiredFeatures

['Age',
 'EducationNum',
 'CapitalGain',
 'CapitalLoss',
 'HoursPerWeek',
 'WorkClass_encoded',
 'Education_encoded',
 'MaritalStatus_encoded',
 'Occupation_encoded',
 'Relationship_encoded',
 'Race_encoded',
 'Gender_encoded',
 'NativeCountry_encoded']

In [67]:
# InputFeatures are fed in the form of a DenseVector
# Use VectorAssember to Vectorize the features to a column called 'Features'
# Pass the columns we want to be vectorized and
# Output will be stored in a column called 'Features'


from pyspark.ml.feature import VectorAssembler

assembler = VectorAssembler( inputCols=requiredFeatures , outputCol='Features')

In [68]:
# Use the VectorAssembler to vectorize the features
# Store the result in transformedDF dataframe
transformedDF=assembler.transform(transformedDF)
transformedDF.toPandas().head()

# There is a column called 'features' which holds all of our features in a Dense Vector Representation

,Age,WorkClass,Education,EducationNum,MaritalStatus,Occupation,Relationship,Race,Gender,CapitalGain,...,WorkClass_encoded,Education_encoded,MaritalStatus_encoded,Occupation_encoded,Relationship_encoded,Race_encoded,Gender_encoded,NativeCountry_encoded,Label_index,Features
0,17.0,Federal-gov,11th,7.0,Never-married,Adm-clerical,Not-in-family,Black,Female,0.0,...,"(0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0, 0.0, 0.0)","(0.0, 1.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,"(17.0, 7.0, 0.0, 1602.0, 40.0, 0.0, 0.0, 0.0, ..."
1,17.0,Local-gov,11th,7.0,Never-married,Adm-clerical,Own-child,White,Female,0.0,...,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 1.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,"(17.0, 7.0, 0.0, 0.0, 12.0, 0.0, 0.0, 1.0, 0.0..."
2,17.0,Local-gov,11th,7.0,Never-married,Other-service,Own-child,White,Female,0.0,...,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 1.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,"(17.0, 7.0, 0.0, 0.0, 16.0, 0.0, 0.0, 1.0, 0.0..."
3,17.0,Local-gov,11th,7.0,Never-married,Prof-specialty,Own-child,White,Female,0.0,...,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 1.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0)","(0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,"(17.0, 7.0, 0.0, 0.0, 20.0, 0.0, 0.0, 1.0, 0.0..."
4,17.0,Local-gov,11th,7.0,Never-married,Prof-specialty,Own-child,White,Female,0.0,...,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 1.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,"(17.0, 7.0, 0.0, 0.0, 40.0, 0.0, 0.0, 1.0, 0.0..."

In [80]:
# Only select the features column to examine exactly how it looks

transformedDF.select('Label_index').toPandas()

       Label_index
0              0.0
1              0.0
2              0.0
3              0.0
4              0.0
5              0.0
6              0.0
7              0.0
8              0.0
9              0.0
10             0.0
11             0.0
12             0.0
13             0.0
14             0.0
15             0.0
16             0.0
17             0.0
18             0.0
19             0.0
20             0.0
21             0.0
22             0.0
23             0.0
24             0.0
25             0.0
26             0.0
27             0.0
28             0.0
29             0.0
...            ...
24047          0.0
24048          0.0
24049          0.0
24050          0.0
24051          0.0
24052          0.0
24053          0.0
24054          0.0
24055          0.0
24056          0.0
24057          0.0
24058          0.0
24059          1.0
24060          1.0
24061          0.0
24062          0.0
24063          0.0
24064          1.0
24065          0.0
24066          0.0
24067          0.0
24068          0.0
24069          1.0
24070          1.0
24071          0.0
24072          1.0
24073          0.0
24074          0.0
24075          0.0
24076          0.0

[24077 rows x 1 columns]

In [84]:
# We are now Ready to go ahead and instantiate the RandomForest Classifier
# ML Model that  we want to use to train on our Adult Census Data Set
from pyspark.ml.classification import RandomForestClassifier

# Specify the labels and features for this classifer and our maxDepth hyperparameter
rf=RandomForestClassifier( labelCol='Label_index', featuresCol='Features' , maxDepth=5)
# Individual Decison Tree should not have a depth of '5'

In [106]:
# Instantiate a ML pipeline for this training workflow

# This pipeline will perform all the transformations that we want on the input data
# Assemble the features into Dense Vector form
# Apply RandomForest Classifier to it

from pyspark.ml import Pipeline
pipeline = Pipeline ( 
        stages = indexers + encoders + labelIndexer + [assembler,rf]
)

In [107]:
pipeline

Pipeline_4fdaa6f10042c78ef2e0

In [109]:
# Run the training pipeline to get the ML Classifier Model
# Call pipeline.fit() on trainingData
model= pipeline.fit(trainingData)

In [110]:
# We now have trained Random Forest Model
# Let us use this model for predictions
# This model is the result of running our training pipeline stages
# Here are our predictions result in a dataframe
# We have columns at very end for rawPrediction, probablity and prediction

model = pipeline.fit(trainingData)

predictions = model.transform(testData)

predictionsDF = predictions.toPandas()

predictionsDF.head()

,Age,WorkClass,Education,EducationNum,MaritalStatus,Occupation,Relationship,Race,Gender,CapitalGain,...,Occupation_encoded,Relationship_encoded,Race_encoded,Gender_encoded,NativeCountry_encoded,Label_index,Features,rawPrediction,probability,prediction
0,17.0,Local-gov,10th,6.0,Never-married,Other-service,Own-child,White,Female,0.0,...,"(0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 1.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,"(17.0, 6.0, 0.0, 0.0, 25.0, 0.0, 0.0, 1.0, 0.0...","[19.872854812495056, 0.1271451875049458]","[0.9936427406247527, 0.006357259375247289]",0.0
1,17.0,Local-gov,10th,6.0,Never-married,Protective-serv,Own-child,White,Female,0.0,...,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 1.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,"(17.0, 6.0, 0.0, 1602.0, 40.0, 0.0, 0.0, 1.0, ...","[19.730724035734475, 0.26927596426552614]","[0.9865362017867237, 0.013463798213276307]",0.0
2,17.0,Local-gov,11th,7.0,Never-married,Adm-clerical,Own-child,White,Female,0.0,...,"(0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 1.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,"(17.0, 7.0, 0.0, 0.0, 15.0, 0.0, 0.0, 1.0, 0.0...","[19.862058359416096, 0.13794164058390387]","[0.9931029179708049, 0.006897082029195194]",0.0
3,17.0,Local-gov,11th,7.0,Never-married,Craft-repair,Own-child,White,Male,0.0,...,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 1.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,"(17.0, 7.0, 0.0, 0.0, 35.0, 0.0, 0.0, 1.0, 0.0...","[19.84988581444681, 0.15011418555318776]","[0.9924942907223405, 0.007505709277659388]",0.0
4,17.0,Local-gov,11th,7.0,Never-married,Prof-specialty,Own-child,Black,Male,0.0,...,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 1.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0, 0.0, 0.0)","(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,"(17.0, 7.0, 0.0, 0.0, 15.0, 0.0, 0.0, 1.0, 0.0...","[19.661851193042295, 0.33814880695770305]","[0.9830925596521147, 0.016907440347885154]",0.0

In [111]:
# We will create a DataFrame called predictions with actual label(Label_index) and predicted label (prediction) side by side

predictions = predictions.select ( 'Label_index' , 'prediction')

In [112]:
# Instantiate the MulticlassClassificationEvaluator to see how our model performs

# The metric we are using 'accuracy'
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

evaluator=MulticlassClassificationEvaluator(
    labelCol='Label_index',
    predictionCol='prediction',
    metricName='accuracy'
)

In [113]:
#Use the evaluator's evaluate method to evaluate the model
accuracy=evaluator.evaluate(predictions)
print('Test Accuracy=',accuracy)

('Test Accuracy=', 0.857354149548069)

In [114]:
# Take a closer look at the incorrect predictions made by the model
# So as to glean some insights from this
predictionsDF.loc[
    predictionsDF['Label_index'] != predictionsDF['prediction']
]

# Take a look at Raw probablity value , they are very close

# The model had a hard time figuring out if this individual earned > 50K or < 50K

,Age,WorkClass,Education,EducationNum,MaritalStatus,Occupation,Relationship,Race,Gender,CapitalGain,...,Occupation_encoded,Relationship_encoded,Race_encoded,Gender_encoded,NativeCountry_encoded,Label_index,Features,rawPrediction,probability,prediction
191,19.0,Private,7th-8th,4.0,Never-married,Other-service,Not-in-family,White,Male,0.0,...,"(0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.0,"(19.0, 4.0, 0.0, 0.0, 60.0, 1.0, 0.0, 0.0, 0.0...","[19.259932455193127, 0.7400675448068702]","[0.9629966227596565, 0.03700337724034352]",0.0
437,21.0,Private,HS-grad,9.0,Married-civ-spouse,Prof-specialty,Own-child,White,Male,0.0,...,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 1.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0)","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.0,"(21.0, 9.0, 0.0, 0.0, 40.0, 1.0, 0.0, 0.0, 0.0...","[16.40920333423458, 3.590796665765418]","[0.8204601667117292, 0.17953983328827094]",0.0
593,22.0,Private,HS-grad,9.0,Married-civ-spouse,Transport-moving,Husband,White,Male,0.0,...,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.0,"(22.0, 9.0, 0.0, 0.0, 50.0, 1.0, 0.0, 0.0, 0.0...","[14.976065841712877, 5.023934158287122]","[0.7488032920856439, 0.2511967079143561]",0.0
695,23.0,Private,11th,7.0,Married-civ-spouse,Transport-moving,Husband,White,Male,4508.0,...,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,"(23.0, 7.0, 4508.0, 0.0, 25.0, 1.0, 0.0, 0.0, ...","[9.815794345402017, 10.184205654597985]","[0.49078971727010084, 0.5092102827298992]",1.0
850,24.0,Local-gov,Some-college,10.0,Married-civ-spouse,Protective-serv,Husband,White,Male,0.0,...,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.0,"(24.0, 10.0, 0.0, 0.0, 72.0, 0.0, 0.0, 1.0, 0....","[13.883711477146674, 6.116288522853324]","[0.6941855738573337, 0.3058144261426662]",0.0
900,24.0,Private,HS-grad,9.0,Divorced,Exec-managerial,Not-in-family,White,Female,0.0,...,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.0,"(24.0, 9.0, 0.0, 0.0, 45.0, 1.0, 0.0, 0.0, 0.0...","[18.83873305145277, 1.1612669485472318]","[0.9419366525726384, 0.05806334742736158]",0.0
906,24.0,Private,HS-grad,9.0,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,4386.0,...,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.0,"(24.0, 9.0, 4386.0, 0.0, 40.0, 1.0, 0.0, 0.0, ...","[10.896519783550909, 9.103480216449093]","[0.5448259891775454, 0.4551740108224546]",0.0
909,24.0,Private,HS-grad,9.0,Married-civ-spouse,Other-service,Husband,White,Male,0.0,...,"(0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.0,"(24.0, 9.0, 0.0, 0.0, 45.0, 1.0, 0.0, 0.0, 0.0...","[16.43831006401563, 3.5616899359843672]","[0.8219155032007815, 0.17808449679921837]",0.0
947,24.0,Private,Some-college,10.0,Married-civ-spouse,Adm-clerical,Husband,White,Male,7298.0,...,"(0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.0,"(24.0, 10.0, 7298.0, 0.0, 40.0, 1.0, 0.0, 0.0,...","[10.99194473714528, 9.008055262854723]","[0.5495972368572639, 0.4504027631427361]",0.0
954,24.0,Private,Some-college,10.0,Married-civ-spouse,Tech-support,Husband,White,Male,0.0,...,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.0,"(24.0, 10.0, 0.0, 0.0, 50.0, 1.0, 0.0, 0.0, 0....","[14.587353002797107, 5.412646997202891]","[0.7293676501398554, 0.27063234986014456]",0.0
984,24.0,Self-emp-not-inc,7th-8th,4.0,Married-civ-spouse,Transport-moving,Husband,White,Male,0.0,...,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.0,"(24.0, 4.0, 0.0, 1902.0, 40.0, 0.0, 1.0, 0.0, ...","[15.843435925725018, 4.15656407427498]","[0.7921717962862509, 0.20782820371374902]",0.0
1025,25.0,Private,Assoc-acdm,12.0,Married-civ-spouse,Adm-clerical,Wife,Asian-Pac-Islander,Female,0.0,...,"(0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 1.0, 0.0)","(0.0, 0.0, 1.0, 0.0, 0.0)","(0.0, 1.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...",1.0,"(25.0, 12.0, 0.0, 0.0, 37.0, 1.0, 0.0, 0.0, 0....","[14.072952500618277, 5.927047499381724]","[0.7036476250309138, 0.29635237496908623]",0.0
1035,25.0,Private,Assoc-voc,11.0,Married-civ-spouse,Prof-specialty,Wife,White,Female,0.0,...,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.0,"(25.0, 11.0, 0.0, 1887.0, 40.0, 1.0, 0.0, 0.0,...","[10.299889002943672, 9.700110997056326]","[0.5149944501471836, 0.4850055498528163]",0.0
1038,25.0,Private,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,...,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.0,"(25.0, 13.0, 0.0, 0.0, 40.0, 1.0, 0.0, 0.0, 0....","[10.835053274430173, 9.164946725569827]","[0.5417526637215087, 0.45824733627849135]",0.0
1041,25.0,Private,Bachelors,13.0,Married-civ-spouse,Sales,Husband,White,Male,0.0,...,"(0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,"(25.0, 13.0, 0.0, 0.0, 50.0, 1.0, 0.0, 0.0, 0....","[9.620902201116543, 10.379097798883457]","[0.4810451100558272, 0.5189548899441728]",1.0
1081,25.0,Private,HS-grad,9.0,Married-civ-spouse,Transport-moving,Husband,White,Male,0.0,...,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.0,"(25.0, 9.0, 0.0, 0.0, 40.0, 1.0, 0.0, 0.0, 0.0...","[16.341126495342973, 3.65887350465703]","[0.8170563247671485, 0.1829436752328515]",0.0
1121,25.0,Private,Some-college,10.0,Married-civ-spouse,Exec-managerial,Wife,Black,Female,0.0,...,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 1.0, 0.0)","(0.0, 1.0, 0.0, 0.0, 0.0)","(0.0, 1.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.0,"(25.0, 10.0, 0.0, 0.0, 40.0, 1.0, 0.0, 0.0, 0....","[15.006116114501681, 4.99388388549832]","[0.7503058057250841, 0.24969419427491601]",0.0
1142,25.0,Self-emp-inc,Bachelors,13.0,Never-married,Sales,Not-in-family,White,Male,0.0,...,"(0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.0,"(25.0, 13.0, 0.0, 0.0, 45.0, 0.0, 0.0, 0.0, 0....","[18.12157094804612, 1.8784290519538795]","[0.906078547402306, 0.09392145259769398]",0.0
1143,25.0,Self-emp-not-inc,Assoc-acdm,12.0,Married-civ-spouse,Adm-clerical,Wife,White,Female,0.0,...,"(0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.0,"(25.0, 12.0, 0.0, 0.0, 35.0, 0.0, 1.0, 0.0, 0....","[13.915903375286014, 6.084096624713987]","[0.6957951687643007, 0.30420483123569936]",0.0
1158,26.0,Local-gov,Assoc-acdm,12.0,Married-civ-spouse,Protective-serv,Husband,White,Male,0.0,...,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.0,"(26.0, 12.0, 0.0, 0.0, 45.0, 0.0, 0.0, 1.0, 0....","[14.062125039106034, 5.937874960893967]","[0.7031062519553017, 0.29689374804469837]",0.0
1177,26.0,Private,Assoc-acdm,12.0,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,5178.0,...,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.0,"(26.0, 12.0, 5178.0, 0.0, 40.0, 1.0, 0.0, 0.0,...","[10.088337814479432, 9.911662185520568]","[0.5044168907239717, 0.4955831092760284]",0.0
1190,26.0,Private,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,...,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,"(26.0, 13.0, 0.0, 0.0, 55.0, 1.0, 0.0, 0.0, 0....","[9.3190767442805, 10.680923255719499]","[0.46595383721402495, 0.5340461627859749]",1.0
1192,26.0,Private,Bachelors,13.0,Married-civ-spouse,Sales,Husband,White,Male,0.0,...,"(0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.0,"(26.0, 13.0, 0.0, 0.0, 40.0, 1.0, 0.0, 0.0, 0....","[10.55227246263402, 9.44772753736598]","[0.527613623131701, 0.472386376868299]",0.0
1193,26.0,Private,Bachelors,13.0,Married-civ-spouse,Transport-moving,Husband,White,Male,0.0,...,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.0,"(26.0, 13.0, 0.0, 0.0, 40.0, 1.0, 0.0, 0.0, 0....","[12.87720679138467, 7.122793208615327]","[0.6438603395692335, 0.3561396604307664]",0.0
1200,26.0,Private,Bachelors,13.0,Never-married,Exec-managerial,Not-in-family,White,Male,0.0,...,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.0,"(26.0, 13.0, 0.0, 0.0, 70.0, 1.0, 0.0, 0.0, 0....","[17.287172075671663, 2.7128279243283364]","[0.8643586037835831, 0.13564139621641683]",0.0
1201,26.0,Private,Bachelors,13.0,Never-married,Exec-managerial,Not-in-family,White,Male,0.0,...,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.0,"(26.0, 13.0, 0.0, 2258.0, 45.0, 1.0, 0.0, 0.0,...","[17.622931796251212, 2.377068203748786]","[0.8811465898125608, 0.1188534101874393]",0.0
1259,26.0,Private,Some-college,10.0,Married-civ-spouse,Craft-repair,Husband,White,Male,0.0,...,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.0,"(26.0, 10.0, 0.0, 0.0, 40.0, 1.0, 0.0, 0.0, 0....","[15.358266878307495, 4.641733121692505]","[0.7679133439153747, 0.23208665608462525]",0.0
1262,26.0,Private,Some-college,10.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,4064.0,...,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,"(26.0, 10.0, 4064.0, 0.0, 50.0, 1.0, 0.0, 0.0,...","[7.580117761141712, 12.419882238858289]","[0.37900588805708557, 0.6209941119429144]",1.0
1293,26.0,State-gov,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0.0,...,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0, 0.0, 0.0)","(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.0,"(26.0, 13.0, 0.0, 0.0, 40.0, 0.0, 0.0, 0.0, 1....","[10.324279709943545, 9.675720290056455]","[0.5162139854971772, 0.48378601450282277]",0.0
1306,27.0,Local-gov,Bachelors,13.0,Married-civ-spouse,Protective-serv,Husband,White,Male,0.0,...,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.0,"(27.0, 13.0, 0.0, 0.0, 45.0, 0.0, 0.0, 1.0, 0....","[10.140332990017612, 9.85966700998239]","[0.5070166495008805, 0.4929833504991195]",0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5850,64.0,Local-gov,HS-grad,9.0,Married-civ-spouse,Other-service,Husband,Asian-Pac-Islander,Male,0.0,...,"(0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 1.0, 0.0, 0.0)","(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.0,"(64.0, 9.0, 0.0, 0.0, 35.0, 0.0, 0.0, 1.0, 0.0...","[15.570176280951618, 4.429823719048385]","[0.7785088140475808, 0.2214911859524192]",0.0
5863,64.0,Private,HS-grad,9.0,Widowed,Sales,Not-in-family,White,Female,8614.0,...,"(0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.0,"(64.0, 9.0, 8614.0, 0.0, 50.0, 1.0, 0.0, 0.0, ...","[10.594847163850329, 9.405152836149673]","[0.5297423581925165, 0.47025764180748364]",0.0
5874,64.0,State-gov,Bachelors,13.0,Married-civ-spouse,Adm-clerical,Husband,White,Male,0.0,...,"(0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,"(64.0, 13.0, 0.0, 0.0, 40.0, 0.0, 0.0, 0.0, 1....","[8.606858719369948, 11.393141280630054]","[0.4303429359684974, 0.5696570640315027]",1.0
5884,65.0,Private,Bachelors,13.0,Married-civ-spouse,Adm-clerical,Husband,White,Male,0.0,...,"(0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,"(65.0, 13.0, 0.0, 0.0, 34.0, 1.0, 0.0, 0.0, 0....","[8.596264163036627, 11.403735836963374]","[0.4298132081518314, 0.5701867918481687]",1.0
5885,65.0,Private,Bachelors,13.0,Married-civ-spouse,Sales,Husband,White,Male,0.0,...,"(0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,"(65.0, 13.0, 0.0, 0.0, 15.0, 1.0, 0.0, 0.0, 0....","[8.866677030425818, 11.133322969574182]","[0.4433338515212909, 0.5566661484787091]",1.0
5888,65.0,Private,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,...,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.0,"(65.0, 9.0, 0.0, 0.0, 40.0, 1.0, 0.0, 0.0, 0.0...","[11.01032455551436, 8.98967544448564]","[0.5505162277757181, 0.449483772224282]",0.0
5897,65.0,Self-emp-inc,Some-college,10.0,Married-civ-spouse,Sales,Husband,White,Male,0.0,...,"(0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.0,"(65.0, 10.0, 0.0, 0.0, 35.0, 0.0, 0.0, 0.0, 0....","[10.940218844322063, 9.059781155677937]","[0.5470109422161031, 0.45298905778389686]",0.0
5916,66.0,Private,HS-grad,9.0,Widowed,Sales,Not-in-family,White,Female,0.0,...,"(0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.0,"(66.0, 9.0, 0.0, 0.0, 40.0, 1.0, 0.0, 0.0, 0.0...","[18.935912376757216, 1.0640876232427794]","[0.946795618837861, 0.05320438116213898]",0.0
5919,66.0,Private,Some-college,10.0,Married-civ-spouse,Sales,Husband,White,Male,0.0,...,"(0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.0,"(66.0, 10.0, 0.0, 0.0, 24.0, 1.0, 0.0, 0.0, 0....","[12.569022315342668, 7.430977684657331]","[0.6284511157671334, 0.3715488842328666]",0.0
5921,66.0,Private,Some-college,10.0,Married-civ-spouse,Tech-support,Husband,White,Male,0.0,...,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.0,"(66.0, 10.0, 0.0, 0.0, 40.0, 1.0, 0.0, 0.0, 0....","[11.460271676571525, 8.539728323428477]","[0.5730135838285763, 0.42698641617142385]",0.0
5924,66.0,Self-emp-inc,HS-grad,9.0,Married-civ-spouse,Adm-clerical,Wife,White,Female,0.0,...,"(0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.0,"(66.0, 9.0, 0.0, 0.0, 40.0, 0.0, 0.0, 0.0, 0.0...","[12.35091055028648, 7.64908944971352]","[0.617545527514324, 0.382454472485676]",0.0
5927,66.0,Self-emp-not-inc,9th,5.0,Married-civ-spouse,Farming-fishing,Husband,White,Male,0.0,...,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.0,"(66.0, 5.0, 0.0, 0.0, 25.0, 0.0, 1.0, 0.0, 0.0...","[15.767840757483158, 4.232159242516841]","[0.7883920378741579, 0.21160796212584204]",0.0
5928,66.0,Self-emp-not-inc,Bachelors,13.0,Married-civ-spouse,Sales,Husband,White,Male,0.0,...,"(0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,"(66.0, 13.0, 0.0, 0.0, 50.0, 0.0, 1.0, 0.0, 0....","[8.70150685336759, 11.298493146632408]","[0.4350753426683795, 0.5649246573316205]",1.0
5933,67.0,Federal-gov,HS-grad,9.0,Married-civ-spouse,Tech-support,Husband,White,Male,0.0,...,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.0,"(67.0, 9.0, 0.0, 0.0, 40.0, 0.0, 0.0, 0.0, 0.0...","[12.120912859087229, 7.879087140912772]","[0.6060456429543615, 0.39395435704563864]",0.0
5934,67.0,Local-gov,Assoc-acdm,12.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,...,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,"(67.0, 12.0, 0.0, 0.0, 35.0, 0.0, 0.0, 1.0, 0....","[9.907243931235323, 10.092756068764679]","[0.49536219656176617, 0.504637803438234]",1.0
5938,67.0,Private,Bachelors,13.0,Widowed,Exec-managerial,Not-in-family,White,Male,0.0,...,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.0,"(67.0, 13.0, 0.0, 2392.0, 40.0, 1.0, 0.0, 0.0,...","[12.80593148662885, 7.194068513371146]","[0.6402965743314426, 0.3597034256685574]",0.0
5941,67.0,Self-emp-inc,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,...,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,"(67.0, 13.0, 0.0, 0.0, 16.0, 0.0, 0.0, 0.0, 0....","[6.537576916187739, 13.462423083812261]","[0.3268788458093869, 0.673121154190613]",1.0

In [105]:
# Tweek the RandomForest model just a bit
# Instead of maxDepth as '5' , we will change this to '10'
# This means individual decision trees can be much deeper
# We are now Ready to go ahead and instantiate the RandomForest Classifier
# ML Model that  we want to use to train on our Adult Census Data Set
from pyspark.ml.classification import RandomForestClassifier

# Specify the labels and features for this classifer and our maxDepth hyperparameter
rf=RandomForestClassifier( labelCol='Label_index', featuresCol='Features' , maxDepth=10)
# Individual Decison Tree should not have a depth of '10'

# Re-run all the steps again after this step