In [ ]:
dataSet.replace('?', dataSet.replace(['-'], [None]) # or .replace('-', {0: None})
                
# dataSet=dataSet.replace('?', 'None')

from pyspark.sql.functions import *
dataSet = dataSet.withColumn('WorkClass', regexp_replace('WorkClass', '?', 'ln'))
                
dataSet.createOrReplaceTempView('df')
spark.sql('SELECT Age,WorkClass,Occupation FROM df where age=41 or age=72').show()
                
from pyspark.ml.linalg import Vectors

# Create a DataFrame
training = spark.createDataFrame([
    (1.0, Vectors.dense([0.0, '?', 0.1])),
    (0.0, Vectors.dense([2.0, 1.0, -1.0])),
    (0.0, Vectors.dense([2.0, 1.3, 1.0])),
    (1.0, Vectors.dense([0.0, 1.2, '?']))], ["label", "features"])

In [ ]:
from pyspark.sql import *
 
Employee = Row("firstName", "lastName", "email", "salary")
 
employee1 = Employee('Basher', 'armbrust', 'bash@edureka.co', 100000)
employee2 = Employee('Daniel', 'meng', 'daniel@stanford.edu', 120000 )
employee3 = Employee('Muriel', None, 'muriel@waterloo.edu', 140000 )
employee4 = Employee('Rachel', 'wendell', 'rach_3@edureka.co', 160000 )
employee5 = Employee('Zach', 'galifianakis', 'zach_g@edureka.co', 160000 )

In [ ]:
Employee
employee1
employee2
print(Employee[3])

In [ ]:
department1 = Row(id='123456', name='HR')
department2 = Row(id='789012', name='OPS')
department3 = Row(id='345678', name='FN')
department4 = Row(id='901234', name='DEV')

departmentWithEmployees1 = Row(department=department1, employees=[employee1, employee2, employee5])
departmentWithEmployees2 = Row(department=department2, employees=[employee3, employee4])
departmentWithEmployees3 = Row(department=department3, employees=[employee1, employee4, employee3])
departmentWithEmployees4 = Row(department=department4, employees=[employee2, employee3])

In [ ]:
departmentsWithEmployees_Seq = [departmentWithEmployees1, departmentWithEmployees2]
dframe = spark.createDataFrame(departmentsWithEmployees_Seq)
display(dframe)
dframe.show()

In [ ]:
dframe.printSchema()

In [ ]:
print('Column Names: ', dframe.columns) #Column Names
 
print('Total Number of Rows = ', dframe.count() ) #Row Count
 
print('Total Number of Columns = ', len(dframe.columns)) #Column Count

In [ ]:
# Describe a Particular Column
dframe.describe('department')
dframe.describe('employees').show()

In [ ]:
dframe.select('department').show()

In [ ]:
valuesA = [('?',1),('Monkey',2),('?',3),('Spaghetti',4)]
TableA = spark.createDataFrame(valuesA,['name','id'])
 
valuesB = [('Rutabaga',1),('Pirate',2),('Ninja',3),('Darth Vader',4)]
TableB = spark.createDataFrame(valuesB,['name','id'])
 
TableA.show()
TableB.show()

TableA=TableA.na.replace('?', None)
TableA.show()

TableA=TableA.na.drop(how='any')
TableA.show()

In [ ]:
ta = TableA.alias('ta')
tb = TableB.alias('tb')

ta

In [ ]:
# Inner Join -- Default 
#inner_join = ta.join(tb, ta.name == tb.name)
inner_join = ta.join(tb, ta.name == tb.name,'inner')
inner_join.show()

In [ ]:
#pyspark Left Outer Join

left_join = ta.join(tb, ta.name == tb.name,how='left') # Could also use 'left_outer'

left_join.show()

In [ ]:
# pyspark Left Outer join with filter
left_join = ta.join(tb, ta.name == tb.name,how='left') # Could also use 'left_outer'
left_join.filter(col('tb.name').isNotNull()).show()

In [ ]:
# pyspark Right Outer Join
right_join = ta.join(tb, ta.name == tb.name,how='right') # Could also use 'right_outer'
right_join.show()
right_join.name

In [ ]:
print('Before: ', dataSet.count())
dataSet=dataSet.na.replace('?', None)


dataSet=dataSet.na.drop(how='any')
print('After: ', dataSet.count())

In [ ]:
dataSet=dataSet.select('WorkClass')

In [ ]:
#dataSet=dataSet.replace('?',None).dropna(how='any')

dataSet=dataSet.na.replace('?', None).dropna(how='any')


targetDf = dataSet.withColumn("WorkClass", \
              when(dataSet["WorkClass"] == "?", None).otherwise(dataSet["WorkClass"]))

In [ ]:
# Reconstructing my DataFrame based on your assumptions
# cols are Columns in the DataFrame
cols = ['name', 'age', 'col_with_string']

# Similarly the values
vals = [
     ('James', 18, 'passed'),
     ('Smith', 15, 'passed'),
     ('Albie', 32, 'failed'),
     ('Stacy', 33, None),
     ('Morgan', 11, None),
     ('Dwight', 12, None),
     ('Steve', 16, 'passed'), 
     ('Shroud', 22, 'passed'),
     ('Faze', 11,'failed'),
     ('Simple', 13, None)
]

# This will create a DataFrame using 'cols' and 'vals'
# spark is an object of SparkSession
df = spark.createDataFrame(vals, cols)
# We have the following DataFrame
df.show()

In [ ]:
df = df.withColumn('col_with_string', when(df.col_with_string.isNull(), 
lit('0')).otherwise(df.col_with_string))

# We have replaced nulls with a '0'
df.show()

In [ ]:
#df = df.withColumn("can_vote", col('Age') >= 18)
#df = df.withColumn("can_lotto", col('Age') > 16) 

#df = df.withColumn('col_with_string', when(df.col_with_string == '30',lit('?')).otherwise(df.col_with_string))

df = df.withColumn('col_with_string', when(df.col_with_string == 'passed','?').otherwise(df.col_with_string))
df.show()
df = df.withColumn('col_with_string', when(df.col_with_string == '?',None).otherwise(df.col_with_string))
df.show()
#df = df.withColumn('col_with_string', when(df.col_with_string.equals('passed'),lit('0')).otherwise(df.col_with_string))

df=df.dropna(how='any')
# Updated DataFrame will be
df.show()